@charset "UTF-8";

/* Template & Designed by Towako. */
/* https://ninawas.me */

/* ウェブフォントの読み込み */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Noto+Serif+JP&display=swap');

/* 全体に適用する */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'EB Garamond', 'Noto Serif JP', serif;
}

/* 基本設定 */
body {
    background-color: #fff;
    text-align: center;
    line-height: 1.7;
    letter-spacing: 0.1em;
    font-size: 13px;
    color: #000;
}

/* 背景画像 */
body::before {
    position: fixed;
    display: block;
    content: '';
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100vh;
    background: url('5EF1CDEB-F3D0-4AD2-9A19-33C9756D8E62.jpeg') center/cover;
    object-position: 50% 100%;
    filter: blur(5px);
}

/* リンク */
a {
    color: #000;
}

/* ヘッダー */
header {
    position: relative;

    object-fit: cover;
    object-position: 50% 100%;

    margin: 10vh auto;
    width: 80%;
    min-height: 70vh;
    max-width: 70vh;
    background: url('5EF1CDEB-F3D0-4AD2-9A19-33C9756D8E62.jpeg') center/cover;
    border: 10px solid #fff;
}

/* ヘッダー内ボックス */
header #headerbox {
    position: absolute;
    bottom: -2em;
    right: -2em;
    padding: 0 2em;
    width: 80%;
    background-color: #fff;
    text-align: justify;
    word-break: break-all;
}

/* 大見出し */
header #headerbox h1 {
    font-size: 2.5em;
}

/* 段落 */
header #headerbox p {
    font-size: 11px;
}

/* エンターリンク */
header .enterlink {
    position: relative;
    text-decoration: none;
    font-size: 1.5em;
}

/* 横線 */
header .enterlink::before {
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    right: 110%;
    width: 80px;
    height: 1px;
    background-color: #000;
}

/* ホバー */
header .enterlink:hover {
    transition: color 1s;
    color: #fff;
}

/* メインコンテンツ */
main {
    margin: 0 auto;
    width: 80%;
}

/* セクション */
section {
    padding: 1em;
    background-color: #fff;
    text-align: justify;
    word-break: break-all;
}

/* セクション内リンク */
section a {
    color: #174757;
}

/* 見出し */
section h2 {
    margin-bottom: 0.5em;
    width: 100%;
    background-color: #000;
    text-align: center;
    font-size: 1em;
    color: #fff;
}

section h3 {
    margin-top: 1em;
    padding: 0.1em 0.5em;
    display: inline-block;
    border: thin solid #000;
    font-size: 0.9em;
}

/* セクション内共通 */
section span:not(.white) {
    border-bottom: thin dashed #000;
}

strong {
    font-weight: bold;
    color: red;
}

mark {
    background-color: #f2f2f2;
}

/* リスト系 */
section dt {
    margin-top: 1em;
    padding-left: 1em;
    width: 200px;
}

section dt span.white {
    color: #fff;
}

section dt a {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
}

section dd {
    padding-left: 1em;
}

/* 右揃え */
div.right {
    text-align: right;
}

/* フッター */
footer {
    margin: 1em auto 1.5em;
    width: 80%;
    background-color: #fff;
}

/* フォーム系 */
textarea,
input[type] {
    -webkit-appearance: none;
    padding: 0.2em 0.5em;
    background-color: #fff;
    border: thin solid #000;
    border-radius: 0;
    color: #000;
}

textarea {
    width: 200px;
    height: 70px;
}

input[type=text] {
    width: 80px;
}

input[type=submit] {
    width: auto;
}

/* 横幅768px以上で読み込む */
@media screen and (min-width:768px) {

    /* フォントサイズ */
    body {
        font-size: 14px;
    }

    header #headerbox p {
        font-size: 12px;
    }

}

/* 横幅1024px以上で読み込む */
@media screen and (min-width:1024px) {

    /* フォントサイズ */
    body {
        font-size: 15px;
    }

    header #headerbox p {
        font-size: 13px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section {
        flex-basis: 50%;
    }
}

   body {
  -webkit-text-size-adjust: 100%;
}

ruby[data-ruby]
{
    position: relative;
}
ruby[data-ruby]::before
{
    content: attr(data-ruby);
    position: absolute;
    line-height: 100%;
    text-align: center;
    left: -3em;
    right: -3em;
    transform-origin: bottom center;
    /* ルビの文字サイズを親文字に対する比率で指定 */
    transform: scale(0.5);
    /* 100%を越える部分が親文字とルビとのスペースになる。単位は親文字に対する比率 */
    bottom: 90%;
}
ruby[data-ruby] rt
{
    display: none;
}
